In [28]:
# 导包
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from lightgbm import LGBMClassifier

In [29]:
# 读取数据
# 根据题意，先把header设置好
headers = ['age', 'workclass', 'fnlwgt',
           'education', 'education_num', 'marital_status',
           'occupation', 'relationship', 'race',
           'sex', 'capital_gain', 'capital_loss',
           'hours_per_week', 'native_country', 'income']

# 读取训练集进入内存
train_data = pd.read_csv("data/adult_train.csv",names=headers)

# 对于测试集，他的第一行是一个分隔，不读入
test_data = pd.read_csv("data/adult_test.csv",names=headers,skiprows=[0])

In [30]:
# 看看训练集有多少数据
train_data.shape

(32561, 15)

In [31]:
# 看看数据是怎么样的，平均值；最大最小值，标准差等等（只有连续性的）
train_data.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [32]:
# 数据中有一些值是？，用python的NaN代替方便以后直接当作空值处理
train_data = train_data.replace('[?]', np.NaN, regex=True)
test_data = test_data.replace('[?]', np.NaN, regex=True)
# 看看数据里有NaN的各类有多少
train_data.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education_num        0
marital_status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     583
income               0
dtype: int64

In [33]:
# 对于缺失属性的数据直接删除
train_data = train_data.dropna()
train_data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [34]:
# 开始处理离散数据
# income我们需要将其映射一下
# 先将>=50K的映射成0，<=50K的设置为1
income_map = {' <=50K':1,' >50K':0}
income_map2 = {' <=50K.':1, ' >50K.':0}
train_data['income'] = train_data['income'].map(income_map).astype(int)
test_data['income'] = test_data['income'].map(income_map2).astype(int)

In [35]:
# 取出所有的离散量属性
discrete = [x for x in train_data.columns if train_data[x].dtype=='object']
discrete

['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native_country']

In [36]:
# 看看这些离散量属性的取值分布
for i in discrete:
    print(train_data[i].value_counts())

 Private             22286
 Self-emp-not-inc     2499
 Local-gov            2067
 State-gov            1279
 Self-emp-inc         1074
 Federal-gov           943
 Without-pay            14
Name: workclass, dtype: int64
 HS-grad         9840
 Some-college    6678
 Bachelors       5044
 Masters         1627
 Assoc-voc       1307
 11th            1048
 Assoc-acdm      1008
 10th             820
 7th-8th          557
 Prof-school      542
 9th              455
 12th             377
 Doctorate        375
 5th-6th          288
 1st-4th          151
 Preschool         45
Name: education, dtype: int64
 Married-civ-spouse       14065
 Never-married             9726
 Divorced                  4214
 Separated                  939
 Widowed                    827
 Married-spouse-absent      370
 Married-AF-spouse           21
Name: marital_status, dtype: int64
 Prof-specialty       4038
 Craft-repair         4030
 Exec-managerial      3992
 Adm-clerical         3721
 Sales                3584
 Other-service        3212
 Machine-op-inspct    1966
 Transport-moving     1572
 Handlers-cleaners    1350
 Farming-fishing       989
 Tech-support          912
 Protective-serv       644
 Priv-house-serv       143
 Armed-Forces            9
Name: occupation, dtype: int64
 Husband           12463
 Not-in-family      7726
 Own-child          4466
 Unmarried          3212
 Wife               1406
 Other-relative      889
Name: relationship, dtype: int64
 White                 25933
 Black                  2817
 Asian-Pac-Islander      895
 Amer-Indian-Eskimo      286
 Other                   231
Name: race, dtype: int64
 Male      20380
 Female     9782
Name: sex, dtype: int64
 United-States                 27504
 Mexico                          610
 Philippines                     188
 Germany                         128
 Puerto-Rico                     109
 Canada                          107
 El-Salvador                     100
 India                           100
 Cuba                             92
 England                          86
 Jamaica                          80
 South                            71
 China                            68
 Italy                            68
 Dominican-Republic               67
 Vietnam                          64
 Guatemala                        63
 Japan                            59
 Columbia                         56
 Poland                           56
 Taiwan                           42
 Iran                             42
 Haiti                            42
 Portugal                         34
 Nicaragua                        33
 Peru                             30
 Greece                           29
 Ecuador                          27
 France                           27
 Ireland                          24
 Hong                             19
 Trinadad&Tobago                  18
 Cambodia                         18
 Laos                             17
 Thailand                         17
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         12
 Scotland                         11
 Holand-Netherlands                1
Name: native_country, dtype: int64

In [37]:
# 发现有一些是比较接近重叠的，将这些重叠的归到同一类
# 大致可以把gov有关的一类，Private一类，Self-emp一类，没工作的一类
train_data['workclass'] = train_data['workclass'].replace([' Self-emp-not-inc', ' Self-emp-inc'],' Self-emp')
train_data['workclass'] = train_data['workclass'].replace([' Federal-gov', ' Local-gov', ' State-gov'], ' Gov')
train_data['workclass'] = train_data['workclass'].replace([' Without-pay', ' Never-worked'], ' Un-emp')
train_data['workclass'].value_counts()                                                         

test_data['workclass'] = test_data['workclass'].replace([' Self-emp-not-inc', ' Self-emp-inc'],' Self-emp')
test_data['workclass'] = test_data['workclass'].replace([' Federal-gov', ' Local-gov', ' State-gov'], ' Gov')
test_data['workclass'] = test_data['workclass'].replace([' Without-pay', ' Never-worked'], ' Un-emp')

In [38]:
# 同理对marital_status进行归类
train_data['marital_status'] = train_data['marital_status'].replace([' Divorced',' Married-spouse-absent',' Never-married',' Separated',' Widowed'],' Single')
train_data['marital_status'] = train_data['marital_status'].replace([' Married-civ-spouse', ' Married-AF-spouse'], ' Couple')
train_data['marital_status'].value_counts()

test_data['marital_status'] = test_data['marital_status'].replace([' Divorced',' Married-spouse-absent',' Never-married',' Separated',' Widowed'],' Single')
test_data['marital_status'] = test_data['marital_status'].replace([' Married-civ-spouse', ' Married-AF-spouse'], ' Couple')

In [39]:
# native_country这个分类太多了，而且很多类的人很少，干脆把人少的都归到other里
train_data['native_country'] = train_data['native_country'].replace([' Holand-Netherlands',' Scotland', ' Honduras', 
                                                                     ' Hungary', ' Outlying-US(Guam-USVI-etc)', ' Yugoslavia', 
                                                                     ' Laos', ' Thailand', ' Cambodia', 
                                                                     ' Trinadad&Tobago', ' Hong', ' Ireland', 
                                                                     ' France',' Ecuador', ' Greece', ' Peru', 
                                                                     ' Nicaragua', ' Portugal', ' Iran', 
                                                                     ' Taiwan', ' Haiti'], ' Other')

test_data['native_country'] = test_data['native_country'].replace([' Holand-Netherlands',' Scotland', ' Honduras', 
                                                                     ' Hungary', ' Outlying-US(Guam-USVI-etc)', ' Yugoslavia', 
                                                                     ' Laos', ' Thailand', ' Cambodia', 
                                                                     ' Trinadad&Tobago', ' Hong', ' Ireland', 
                                                                     ' France',' Ecuador', ' Greece', ' Peru', 
                                                                     ' Nicaragua', ' Portugal', ' Iran', 
                                                                     ' Taiwan', ' Haiti'], ' Other')
train_data['native_country'].value_counts()

 United-States         27504
 Mexico                  610
 Other                   486
 Philippines             188
 Germany                 128
 Puerto-Rico             109
 Canada                  107
 El-Salvador             100
 India                   100
 Cuba                     92
 England                  86
 Jamaica                  80
 South                    71
 Italy                    68
 China                    68
 Dominican-Republic       67
 Vietnam                  64
 Guatemala                63
 Japan                    59
 Poland                   56
 Columbia                 56
Name: native_country, dtype: int64

In [40]:
# 最后，看看education_num这个连续量
train_data['education'].value_counts()

 HS-grad         9840
 Some-college    6678
 Bachelors       5044
 Masters         1627
 Assoc-voc       1307
 11th            1048
 Assoc-acdm      1008
 10th             820
 7th-8th          557
 Prof-school      542
 9th              455
 12th             377
 Doctorate        375
 5th-6th          288
 1st-4th          151
 Preschool         45
Name: education, dtype: int64

In [41]:
# 发现跟education一样的，重复了，因为eudcation是离散的，不好处理。去掉这个属性
train_data = train_data.drop(columns=['education'])
test_data = test_data.drop(columns=['education'])

In [42]:
# 看看相关系数矩阵,检查一下连续变量。发现序号属性不太影响最后的收入
train_data.corr()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income
age,1.000000,-0.076511,0.043526,0.080154,0.060165,0.101599,-0.241998
fnlwgt,-0.076511,1.000000,-0.044992,0.000422,-0.009750,-0.022886,0.008957
education_num,0.043526,-0.044992,1.000000,0.124416,0.079646,0.152522,-0.335286
capital_gain,0.080154,0.000422,0.124416,1.000000,-0.032229,0.080432,-0.221196
capital_loss,0.060165,-0.009750,0.079646,-0.032229,1.000000,0.052417,-0.150053
hours_per_week,0.101599,-0.022886,0.152522,0.080432,0.052417,1.000000,-0.229480
income,-0.241998,0.008957,-0.335286,-0.221196,-0.150053,-0.229480,1.000000

In [43]:
# 把序号属性删掉
train_data = train_data.drop(columns=['fnlwgt'])
test_data = test_data.drop(columns=['fnlwgt'])

In [44]:
# 进行one-hot编码
train_data = pd.get_dummies(train_data, columns=['workclass', 'marital_status', 'occupation',
                                                 'relationship', 'race', 'sex',
                                                 'native_country'])
train_data

test_data = pd.get_dummies(test_data, columns=['workclass', 'marital_status', 'occupation',
                                                 'relationship', 'race', 'sex',
                                                 'native_country'])

In [45]:
# 看看编码后的结果
train_data.columns

Index(['age', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week', 'income', 'workclass_ Gov', 'workclass_ Private',
       'workclass_ Self-emp', 'workclass_ Un-emp', 'marital_status_ Couple',
       'marital_status_ Single', 'occupation_ Adm-clerical',
       'occupation_ Armed-Forces', 'occupation_ Craft-repair',
       'occupation_ Exec-managerial', 'occupation_ Farming-fishing',
       'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct',
       'occupation_ Other-service', 'occupation_ Priv-house-serv',
       'occupation_ Prof-specialty', 'occupation_ Protective-serv',
       'occupation_ Sales', 'occupation_ Tech-support',
       'occupation_ Transport-moving', 'relationship_ Husband',
       'relationship_ Not-in-family', 'relationship_ Other-relative',
       'relationship_ Own-child', 'relationship_ Unmarried',
       'relationship_ Wife', 'race_ Amer-Indian-Eskimo',
       'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White',
       'sex_ Female', 'sex_ Male', 'native_country_ Canada',
       'native_country_ China', 'native_country_ Columbia',
       'native_country_ Cuba', 'native_country_ Dominican-Republic',
       'native_country_ El-Salvador', 'native_country_ England',
       'native_country_ Germany', 'native_country_ Guatemala',
       'native_country_ India', 'native_country_ Italy',
       'native_country_ Jamaica', 'native_country_ Japan',
       'native_country_ Mexico', 'native_country_ Other',
       'native_country_ Philippines', 'native_country_ Poland',
       'native_country_ Puerto-Rico', 'native_country_ South',
       'native_country_ United-States', 'native_country_ Vietnam'],
      dtype='object')

In [46]:
# 将非2值类型的数据进行标准化
train_data_need_to_standard = train_data[['age', 'education_num', 'capital_gain',
                                          'capital_loss', 'hours_per_week']]
train_data_need_to_standard

       age  education_num  capital_gain  capital_loss  hours_per_week
0       39             13          2174             0              40
1       50             13             0             0              13
2       38              9             0             0              40
3       53              7             0             0              40
4       28             13             0             0              40
5       37             14             0             0              40
6       49              5             0             0              16
7       52              9             0             0              45
8       31             14         14084             0              50
9       42             13          5178             0              40
10      37             10             0             0              80
11      30             13             0             0              40
12      23             13             0             0              30
13      32             12             0             0              50
15      34              4             0             0              45
16      25              9             0             0              35
17      32              9             0             0              40
18      38              7             0             0              50
19      43             14             0             0              45
20      40             16             0             0              60
21      54              9             0             0              20
22      35              5             0             0              40
23      43              7             0          2042              40
24      59              9             0             0              40
25      56             13             0             0              40
26      19              9             0             0              40
28      39              9             0             0              80
29      49              9             0             0              40
30      23             12             0             0              52
31      20             10             0             0              44
...    ...            ...           ...           ...             ...
32526   32              6             0             0              40
32527   22             10             0             0              40
32528   31              9             0             0              40
32529   29              9             0             0              35
32532   34             16             0             0              60
32533   54             13             0             0              50
32534   37             10             0             0              39
32535   22              8             0             0              35
32536   34             13             0             0              55
32537   30              9             0             0              46
32538   38             13         15020             0              45
32540   45              9             0             0              40
32543   45             12             0             0              48
32544   31             14             0             0              30
32545   39             12             0             0              20
32546   37             12             0             0              40
32547   43              9             0             0              40
32548   65             15          1086             0              60
32549   43             10             0             0              40
32550   43             10             0             0              50
32551   32              6             0             0              40
32552   43             11             0             0              45
32553   32             14             0             0              11
32554   53             14             0             0              40
32555   22             10             0             0              40
32556   27             12             0             0              38
32557   40              9             0             0              40
32558   58              9             0             0              40
32559   22              9             0             0              20
32560   52              9         15024             0              40

[30162 rows x 5 columns]

In [47]:
scaler = StandardScaler()
scaler.fit(train_data_need_to_standard)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [48]:
train_data_standard = pd.DataFrame(scaler.transform(train_data_need_to_standard))
train_data_standard.head()

          0         1         2         3         4
0  0.042796  1.128918  0.146092 -0.218586 -0.077734
1  0.880288  1.128918 -0.147445 -0.218586 -2.331531
2 -0.033340 -0.439738 -0.147445 -0.218586 -0.077734
3  1.108695 -1.224066 -0.147445 -0.218586 -0.077734
4 -0.794697  1.128918 -0.147445 -0.218586 -0.077734

In [49]:
# 将标准化的数据添回原来的整个表里
# 但是我们之前可以看到他的列属性名字没有了，加回去
column_name = ['age', 'education_num', 'capital_gain', 
               'capital_loss', 'hours_per_week']
train_data_standard.columns = column_name
train_data_standard

            age  education_num  capital_gain  capital_loss  hours_per_week
0      0.042796       1.128918      0.146092     -0.218586       -0.077734
1      0.880288       1.128918     -0.147445     -0.218586       -2.331531
2     -0.033340      -0.439738     -0.147445     -0.218586       -0.077734
3      1.108695      -1.224066     -0.147445     -0.218586       -0.077734
4     -0.794697       1.128918     -0.147445     -0.218586       -0.077734
5     -0.109476       1.521083     -0.147445     -0.218586       -0.077734
6      0.804152      -2.008395     -0.147445     -0.218586       -2.081109
7      1.032559      -0.439738     -0.147445     -0.218586        0.339636
8     -0.566290       1.521083      1.754199     -0.218586        0.757005
9      0.271203       1.128918      0.551697     -0.218586       -0.077734
10    -0.109476      -0.047574     -0.147445     -0.218586        3.261224
11    -0.642425       1.128918     -0.147445     -0.218586       -0.077734
12    -1.175375       1.128918     -0.147445     -0.218586       -0.912474
13    -0.490154       0.736754     -0.147445     -0.218586        0.757005
14    -0.337883      -2.400559     -0.147445     -0.218586        0.339636
15    -1.023104      -0.439738     -0.147445     -0.218586       -0.495104
16    -0.490154      -0.439738     -0.147445     -0.218586       -0.077734
17    -0.033340      -1.224066     -0.147445     -0.218586        0.757005
18     0.347338       1.521083     -0.147445     -0.218586        0.339636
19     0.118931       2.305411     -0.147445     -0.218586        1.591745
20     1.184831      -0.439738     -0.147445     -0.218586       -1.747213
21    -0.261747      -2.008395     -0.147445     -0.218586       -0.077734
22     0.347338      -1.224066     -0.147445      4.832223       -0.077734
23     1.565509      -0.439738     -0.147445     -0.218586       -0.077734
24     1.337102       1.128918     -0.147445     -0.218586       -0.077734
25    -1.479918      -0.439738     -0.147445     -0.218586       -0.077734
26     0.042796      -0.439738     -0.147445     -0.218586        3.261224
27     0.804152      -0.439738     -0.147445     -0.218586       -0.077734
28    -1.175375       0.736754     -0.147445     -0.218586        0.923953
29    -1.403782      -0.047574     -0.147445     -0.218586        0.256162
...         ...            ...           ...           ...             ...
30132 -0.490154      -1.616231     -0.147445     -0.218586       -0.077734
30133 -1.251511      -0.047574     -0.147445     -0.218586       -0.077734
30134 -0.566290      -0.439738     -0.147445     -0.218586       -0.077734
30135 -0.718561      -0.439738     -0.147445     -0.218586       -0.495104
30136 -0.337883       2.305411     -0.147445     -0.218586        1.591745
30137  1.184831       1.128918     -0.147445     -0.218586        0.757005
30138 -0.109476      -0.047574     -0.147445     -0.218586       -0.161208
30139 -1.251511      -0.831902     -0.147445     -0.218586       -0.495104
30140 -0.337883       1.128918     -0.147445     -0.218586        1.174375
30141 -0.642425      -0.439738     -0.147445     -0.218586        0.423110
30142 -0.033340       1.128918      1.880579     -0.218586        0.339636
30143  0.499610      -0.439738     -0.147445     -0.218586       -0.077734
30144  0.499610       0.736754     -0.147445     -0.218586        0.590057
30145 -0.566290       1.521083     -0.147445     -0.218586       -0.912474
30146  0.042796       0.736754     -0.147445     -0.218586       -1.747213
30147 -0.109476       0.736754     -0.147445     -0.218586       -0.077734
30148  0.347338      -0.439738     -0.147445     -0.218586       -0.077734
30149  2.022323       1.913247     -0.000811     -0.218586        1.591745
30150  0.347338      -0.047574     -0.147445     -0.218586       -0.077734
30151  0.347338      -0.047574     -0.147445     -0.218586        0.757005
30152 -0.490154      -1.616231     -0.147445     -0.218586       -0.077734
30153  0.347338       0.344590     -0.147445     -0.218586        0.339636
30154 -0.490154       1.521083     -0.147445     -0.218586       -2.498479
30155  1.108695       1.521083     -0.147445     -0.218586       -0.077734
30156 -1.251511      -0.047574     -0.147445     -0.218586       -0.077734
30157 -0.870832       0.736754     -0.147445     -0.218586       -0.244682
30158  0.118931      -0.439738     -0.147445     -0.218586       -0.077734
30159  1.489374      -0.439738     -0.147445     -0.218586       -0.077734
30160 -1.251511      -0.439738     -0.147445     -0.218586       -1.747213
30161  1.032559      -0.439738      1.881120     -0.218586       -0.077734

[30162 rows x 5 columns]

In [50]:
# 用标准化数据覆盖原来的数据
for i in train_data_standard.columns:
    train_data[i] = train_data_standard[i]
train_data = train_data.dropna()
train_data

,age,education_num,capital_gain,capital_loss,hours_per_week,income,workclass_ Gov,workclass_ Private,workclass_ Self-emp,workclass_ Un-emp,...,native_country_ Jamaica,native_country_ Japan,native_country_ Mexico,native_country_ Other,native_country_ Philippines,native_country_ Poland,native_country_ Puerto-Rico,native_country_ South,native_country_ United-States,native_country_ Vietnam
0,0.042796,1.128918,0.146092,-0.218586,-0.077734,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0.880288,1.128918,-0.147445,-0.218586,-2.331531,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,-0.033340,-0.439738,-0.147445,-0.218586,-0.077734,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1.108695,-1.224066,-0.147445,-0.218586,-0.077734,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,-0.794697,1.128918,-0.147445,-0.218586,-0.077734,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,-0.109476,1.521083,-0.147445,-0.218586,-0.077734,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
6,0.804152,-2.008395,-0.147445,-0.218586,-2.081109,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
7,1.032559,-0.439738,-0.147445,-0.218586,0.339636,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
8,-0.566290,1.521083,1.754199,-0.218586,0.757005,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
9,0.271203,1.128918,0.551697,-0.218586,-0.077734,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
10,-0.109476,-0.047574,-0.147445,-0.218586,3.261224,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
11,-0.642425,1.128918,-0.147445,-0.218586,-0.077734,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,-1.175375,1.128918,-0.147445,-0.218586,-0.912474,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
13,-0.490154,0.736754,-0.147445,-0.218586,0.757005,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
15,-1.023104,-0.439738,-0.147445,-0.218586,-0.495104,1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
16,-0.490154,-0.439738,-0.147445,-0.218586,-0.077734,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
17,-0.033340,-1.224066,-0.147445,-0.218586,0.757005,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
18,0.347338,1.521083,-0.147445,-0.218586,0.339636,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
19,0.118931,2.305411,-0.147445,-0.218586,1.591745,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
20,1.184831,-0.439738,-0.147445,-0.218586,-1.747213,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
21,-0.261747,-2.008395,-0.147445,-0.218586,-0.077734,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
22,0.347338,-1.224066,-0.147445,4.832223,-0.077734,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23,1.565509,-0.439738,-0.147445,-0.218586,-0.077734,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
24,1.337102,1.128918,-0.147445,-0.218586,-0.077734,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
25,-1.479918,-0.439738,-0.147445,-0.218586,-0.077734,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26,0.042796,-0.439738,-0.147445,-0.218586,3.261224,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
28,-1.175375,0.736754,-0.147445,-0.218586,0.923953,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
29,-1.403782,-0.047574,-0.147445,-0.218586,0.256162,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30,0.499610,1.128918,-0.147445,3.264048,-0.077734,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
31,-0.642425,-0.047574,-0.147445,-0.218586,-0.077734,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30130,-0.642425,-0.439738,-0.147445,-0.218586,1.174375,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30131,-0.946968,0.736754,-0.147445,-0.218586,-2.164583,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30132,-0.490154,-1.616231,-0.147445,-0.218586,-0.077734,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30133,-1.251511,-0.047574,-0.147445,-0.218586,-0.077734,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30134,-0.566290,-0.439738,-0.147445,-0.218586,-0.077734,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
30135,-0.718561,-0.439738,-0.147445,-0.218586,-0.495104,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
30136,-0.337883,2.305411,-0.147445,-0.218586,1.591745,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30137,1.184831,1.128918,-0.147445,-0.218586,0.757005,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30138,-0.109476,-0.047574,-0.147445,-0.218586,-0.161208,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30139,-1.251511,-0.831902,-0.147445,-0.218586,-0.495104,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30140,-0.337883,1.128918,-0.147445,-0.218586,1.174375,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30141,-0.642425,-0.439738,-0.147445,-0.218586,0.423110,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30142,-0.033340,1.128918,1.880579,-0.218586,0.339636,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30143,0.499610,-0.439738,-0.147445,-0.218586,-0.077734,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
30144,0.499610,0.736754,-0.147445,-0.218586,0.590057,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30145,-0.566290,1.521083,-0.147445,-0.218586,-0.912474,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
30146,0.042796,0.736754,-0.147445,-0.218586,-1.747213,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30147,-0.109476,0.736754,-0.147445,-0.218586,-0.077734,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30148,0.347338,-0.439738,-0.147445,-0.218586,-0.077734,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30149,2.022323,1.913247,-0.000811,-0.218586,1.591745,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30150,0.347338,-0.047574,-0.147445,-0.218586,-0.077734,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30151,0.347338,-0.047574,-0.147445,-0.218586,0.757005,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30152,-0.490154,-1.616231,-0.147445,-0.218586,-0.077734,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
30153,0.347338,0.344590,-0.147445,-0.218586,0.339636,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30154,-0.490154,1.521083,-0.147445,-0.218586,-2.498479,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30155,1.108695,1.521083,-0.147445,-0.218586,-0.077734,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
30157,-0.870832,0.736754,-0.147445,-0.218586,-0.244682,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30159,1.489374,-0.439738,-0.147445,-0.218586,-0.077734,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30160,-1.251511,-0.439738,-0.147445,-0.218586,-1.747213,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30161,1.032559,-0.439738,1.881120,-0.218586,-0.077734,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
# 把要预测的值income单独拿出来看看
y_train = train_data.income
x_train = train_data.drop('income', axis=1)

y_test = test_data.income
x_test = test_data.drop('income', axis=1)

print(x_train.shape)
print(y_train.shape)

print(x_test.shape)
print(y_test.shape)

(27956, 59)
(27956,)
(16281, 59)
(16281,)

In [52]:
lgbm = LGBMClassifier()
lgbm.fit(x_train, y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [53]:
y_pred = lgbm.predict(x_test)
print(accuracy_score(y_test, y_pred) * 100)

81.6964559916467

In [54]:
random_forest_confusion_matrix = confusion_matrix(y_test, y_pred)
random_forest_confusion_matrix

array([[ 1547,  2299],
       [  681, 11754]], dtype=int64)